.wrapper {
  background-color: greenyellow;
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.box {
  border-radius: 5px;
  width: 200px;
  height: 200px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: blue;
}
